
.hero-section {
  margin: 0 auto;
  .hero-left-icon {
    display: none;
  }
  
  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: rem(310px);

    .hero-title-container {
      .hero-title {
        font-size: rem(40px);
      }
    }

    .hero-text-container {
      .hero-text {
        font-size: rem(15px);
        line-height: rem(28px);
      }
    }
  }

  .hero-right-icon {
    width: rem(180px);
    position: absolute;
    top: 15rem;
    z-index: -1;
    bottom: rem(20px);
    margin: auto;
  }

  @media (min-width: 641px) {
    .hero-container {
      width: rem(680px);
      .hero-title-container {
        .hero-title {
          font-size: rem(64px);
        }
      }
    }
    
    .hero-right-icon {
      width: rem(250px);
      top: 38rem;
      right: rem(20px);
    }
  }
  
  @media (min-width: 1281px) {
    min-height: rem(700px);
    
    .hero-left-icon {
      display: block;
      position: absolute;
      left: -15%;
      width: rem(200px);
      height: rem(200px);
    }
    
    .hero-container {
      flex-direction: row;
      width: rem(1100px);


      .hero-title-container {
        .hero-title {
          font-size: rem(100px);
        }
      }

      .hero-text-container {
        .hero-text {
          font-size: rem(18px);
        }
      }
    }

    .hero-right-icon {
      width: rem(358px);
      top: auto;
      bottom: rem(20px); 
    }
  }
}
