
  .skills-section {
    display: grid;
    align-items: center;
    background-color: $sec-state;
    min-height: rem(680px);
  
    .skills-container {
      display: flex;
      flex-direction: column;
    }
  
    .skills-header-container {
      min-width: rem(240px);
  
      .skills-header-title {
        font-size: rem(32px);
        line-height: rem(32px);
      }
    }
  
    .skills-content-container {
      text-align: center;
      min-width: rem(327px);
  
      .skill {
        /* הגדרות עבור כל skill */
  
        .skill-icon {
          /* הגדרות עבור התמונות בתוך כל skill */
        }
  
        .skill-title {
          /* הגדרות עבור כותרת ה-skill */
        }
  
        .skill-description {
          /* הגדרות עבור תיאור ה-skill */
        }
      }
    }
  
    .skill-right-icon {
      position: absolute;
      top: 0; /* מיקום בפינה הימנית העליונה */
      right: 0; /* מיקום בפינה הימנית העליונה */
      height: 50px; /* גובה של 50 פיקסלים */
    }
  
    @media (min-width: 768px) {
      /* הגדרות עבור טאבלט ומעלה */
  
      .skills-container {
        display: flex;
        flex-direction: column;
      }
  
      .skills-header-container {
        .skills-header-title {
          min-width: rem(445px);
          /* הגדרות עבור הכותרת בטאבלט ומעלה */
        }
      }
  
      .skills-content-container {
        .skill {
            display: grid;
            grid-template-columns: minmax(min-content, max-content) minmax(min-content, 1fr);
            text-align: left;
  
          .skill-icon {
            margin: 20px;
          }
  
          .skill-title {
          }
  
          .skill-description {
          }
        }
      }
  
      .skill-right-icon {
        /* הגדרות עבור האייקון הימני בטאבלט ומעלה */
      }
    }
  
    @media (min-width: 1024px) {

        .skills-container {
            display: flex;
            flex-direction: row;
          }
  
      .skills-header-container {
        .skills-header-title {
            font-size: rem(48px);
            line-height: rem(48px);
        }
    }
    
    .skills-content-container {
        .skill {
            /* הגדרות עבור כל skill במסכים גדולים ומעלה */
            
            .skill-icon {
                /* הגדרות עבור התמונות בתוך כל skill במסכים גדולים ומעלה */
            }
            
            .skill-title {
                font-size: rem(18px);
                /* הגדרות עבור כותרת ה-skill במסכים גדולים ומעלה */
            }
            
            .skill-description {
                font-size: rem(15px);
                line-height: rem(25px);
            /* הגדרות עבור תיאור ה-skill במסכים גדולים ומעלה */
          }
        }
      }
  
      .skill-right-icon {
        /* הגדרות עבור האייקון הימני במסכים גדולים ומעלה */
      }
    }
  }
  