.colored {
  color: $pr-accent;
}

.coloredg {
  color: $sec-accent;
}

.full-width {
  grid-column: 1 / -1;
}

.contact-btn {
  padding: rem(10px) rem(20px);
  border: 1px solid $pr-text;
  border-radius: 40px;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: $pr-text;
    color: $sec-state;
  }
}

.contact-btn-dark {
  padding: rem(10px) rem(20px);
  border: 2px solid $sec-state;
  color: $sec-state;
  border-radius: 40px;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: $pr-text;
    color: $sec-state;
  }
}
