
$layout-padding: 20px;

.main-layout {
  display: grid;
  grid-template-columns: minmax(rem($layout-padding), 1fr) minmax(0, 1100px) minmax(rem($layout-padding), 1fr);
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  grid-gap: rem($layout-padding);
  justify-items: center;
  margin: 0 auto;

  > * {
    grid-column: 2;
  }

  .full {
    grid-column: 1 / -1;
  }

  main {
    display: grid;
    grid-template-rows: auto;
    grid-gap: rem(40px);
  }
}