// Colors

// PRIMARY
$pr-bg: #014e56; // Midnight Green
$pr-accent: #f67e7e; // Light Coral
$pr-text: #ffffff; // White

// SECONDARY
$sec-bg: #2c6269; // Police Blue
$sec-accent: #79c8c7; // Rapture Blue
$sec-deep: #004047; // Deep Jungle Green
$sec-state: #012f34; // Sacramento State Green
$sec-dark: #002529; // Dark Green
